{% extends 'base.html.twig' %}

{% block title %}Mon compte - La boutique française !{% endblock %}

{% block content %}

    <h1>Mon compte</h1>

   <p>
        Bienvenue {{ app.user.prenom }} dans votre compte.</br>
        C'est dans cet espace que vous allez pouvoir gérer vos informations personnelles.
    </p>
    <hr>

    choses à faire:</br>
        <a href="{{ path("account_password") }}">Modifier mon mot de passe</a></br>
        ajouter mes adresses</br>
        mes commandes</br>
    <hr>
    

{% endblock %}
